<label class="form-label">
  @if (icon()) {
    <i [class]="icon()" style="margin-right: 6px;"></i>
  }
  {{ label() | translate }}
  @if (required()) {
    <span class="text-danger">*</span>
  }
</label>
<select
  #cd="appControlDirty"
  (ngModelChange)="onChange($event, cd)"
  [appControlDirty]="control()"
  [disabled]="disabled()"
  [class.is-invalid]="control()?.invalid && control()?.touched"
  [ngModel]="value()"
  class="form-select"
>
  <ng-content/>
</select>
<app-form-error [control]="control()"/>
